node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

//add google service file from the root of your project
google-services.json
firebase.json

//add Fcard file from components folder


# macOS
.DS_Store
